div.iga-socialcount-container .bar{ color: #fff; clear:both;}
div.iga-socialcount-container .bar:hover{ opacity:.8;}
div.iga-socialcount-container .bar .width-percentOfTotal{
	background-color: #2558FF;
	display:block;
	position:relative;
	margin:1px 0 0 0;
	padding: .5em 4em .5em .5em;
	-webkit-transition:background-color .3s ease-out; -moz-transition:background-color .3s ease-out; transition:background-color .3s ease-out;
}

div.iga-socialcount-container .bar .width-percentOfTotal a,
div.iga-socialcount-container .bar .width-percentOfTotal a:visited{ color:#fff; -webkit-transition:color .5s; -moz-transition:color .5s; transition:color .5s; }
div.iga-socialcount-container .bar .width-percentOfTotal a:hover{ color:#3f3f44; }

div.iga-socialcount-container .bar .percentOfTotal{ position:absolute; top:25%; right:0; padding-right:5px; }
