<article id="{{cssSafeId}}" class="university {{data.cssName}} {{#disabled}}disqualified{{/disabled}} bucket-percentOfTotal">
	<div class="info">
		<p class="percentOfTotal">{{percent.total}}</p>
		<h3 class="Name">{{data.Name}}</h3> <span class="date">{{#formatDate}}{{data.date}},mmm dd{{/formatDate}}</span>
		<p class="hashtag"><a href="https://twitter.com/intent/tweet?text={{#urlEncode}}Tweet #{{data.hashtag}} to win a secret show from @disclosure{{/urlEncode}}&related=disclosure,interscope&url={{#urlEncode}}{{url.href}}{{/urlEncode}}" target="_blank" >#{{data.hashtag}}</a></p>
		<p class="total" style="display:none;">{{count.total}}</p>
	</div>
</article>
