<article id="{{cssSafeId}}" class="{{data.cssName}}{{#data.disabled}} disabled{{/data.disabled}}">
	<div class="title">{{data.Name}}</div>
	<div class="bar">
		<div class="width-percent width-percentOfTop" data-class="width-percentOfTotal">
			<div class="bar-content">
				<span class="rank">{{order.rank}}</span>
				<span class="total">{{count.total}}</span>
				<span class="tweet-btn" title="Vote for {{data.Name}} on Twitter"><a href="https://twitter.com/intent/tweet?text={{data.voteText}}{{#data.hashtag}}&hashtags={{data.hashtag}}{{/data.hashtag}}{{#data.related}}&related={{data.related}}{{/data.related}}&url={{url.encoded}}" target="_blank" >
					<span class="vote">Vote</span>
				</a></span>
			</div>
		</div>
	</div>
</article>
