<article id="{{cssSafeId}}" class="{{data.cssName}}{{#data.disabled}} disabled{{/data.disabled}}">
	<div class="bar">
		<div class="width-percent width-percentOfTotal">
			<div class="bar-content">
				<span class="hashtag"><a href="https://twitter.com/intent/tweet?text={{data.twitterIntentText}}&hashtags={{data.hashtag}}&related=interscope&url={{url.encoded}}" target="_blank" >#{{data.hashtag}}</a></span>
				<span class="percentOfTotal">{{percent.total}}</span>
			</div>
		</div>
	</div>
</article>
